html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem; /* Ajusta esto al tamaño de tu footer */
    color: #000;
    background-color: #fff;
    line-height: 1.6;
}

header {
    background-color: #000; /* Negro */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    color: #f7a8b8; /* Un tono de rosa */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7a8b8; /* Fondo rosa */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffbfd3; /* Rosa más claro para hover */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; /* Altura de tu footer */
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

